
extends navbar_fixed_top.jade

body
	block content



		h1= message
		div(class="row")
			div(class="col-md-5")
				div(id="graphContainer")
					canvas(id="myChart")
					div(id="blurb1") Your all-time usage by domain name.
			div(class="col-md-4")
				div(id="graphContainer2")
					canvas(id="myChart2")
					div(id="blurb2") Your top 5 sites in the past 10 days.
			div(class="col-md-3")
				div(id="legend2", class="chart-legend")
				

		div(class="row")
			div(class="col-md-3")
				h2 Sort usage by:
			div(class="col-md-3")
				h2
					select(id="sortType")
						option(value="category") Category
						option(value="domainName") Domain Name
			div(class="col-md-3")
				h2 View top sites in:
			div(class="col-md-3")
				h2
					select(id="chooseCategory")

		div(class="row")
			div(class="col-md-3")
				h2 Type of chart?
			div(class="col-md-3")
				h2
					select(id="chartType")
						option(value="doughnut") Doughnut Chart
						option(value="bar") Bar Graph
			div(class="col-md-3")
				h2 How many sites to view?
			div(class="col-md-3")
				h2
					select(id="numToView")
						each val in [1,2,3,4,5]
							option(value=val)= val

		div(class="row")
			div(class="col-md-3")
				h2 View Usage since:
			div(class="col-md-3")
				h2
					select(id="numDays0")
						option(value=7) 1 week
						option(value=14) 2 weeks
						option(value=30) 1 month
					input(id="submitBtn1",type="submit", value="View Chart!", onclick="createChart1()")
			div(class="col-md-3")
				h2 For the past:
			div(class="col-md-3")
				h2
					select(id="numDays")
						option(value=7) 1 week
						option(value=14) 2 weeks
						option(value=30) 1 month
					input(id="submitBtn2",type="submit", value="View Chart!", onclick="createChart2()")

		script(src="/js/Chart.js")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
		script.
			var createChart1 = null;
			var createChart2 = null;
			$(document).ready(function() {
				var $j = jQuery.noConflict();

				var cats = !{categories};
				cats.push("all");
				cats.push("other");
				var chooseCat = document.getElementById("chooseCategory");
				for(var i = 0; i < cats.length; i++) {
					var node = document.createElement("option");
					node.setAttribute('value',cats[i]);
					node.innerHTML = cats[i];
					chooseCat.appendChild(node);
				}

				var canvas = document.getElementById("myChart");
				var ctx = canvas.getContext("2d");
				ctx.canvas.width = 400;
				ctx.canvas.height = 300;
				var d = !{data1};
				var chart = new Chart(ctx).Doughnut(d,{tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %> minutes"});

				var canvas2 = document.getElementById("myChart2");
				var ctx2 = canvas2.getContext("2d");
				ctx2.canvas.width = 400;
				ctx2.canvas.height = 300;
				var d2 = !{data2};

				var chart2 = new Chart(ctx2).Line(d2, {datasetFill : false, multiTooltipTemplate: "<%= datasetLabel %> - <%= value %> minutes", legendTemplate : "<ul class=\"  <%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>", showTooltips: false, scaleLabel : function(valuePayload) {return valuePayload.value.toString() + ' minutes';}});
				document.getElementById("legend2").innerHTML = chart2.generateLegend();

				createChart1 = function() {

					var sortType = document.getElementById("sortType");
					sortType = sortType.options[sortType.selectedIndex].value;
					var chartType = document.getElementById("chartType");
					chartType = chartType.options[chartType.selectedIndex].value;
					var numDays = document.getElementById("numDays0");
					numDays = numDays.options[numDays.selectedIndex].value;
					console.log(numDays);

					var date = new Date((new Date()).getTime() - parseInt(numDays)*24*60*60*1000);
					console.log(date);
					var xhr = new XMLHttpRequest();

					xhr.addEventListener('readystatechange', function(evt) {
				        if (xhr.readyState === 4) {
				            if (xhr.status === 200) {
								$("#myChart").remove();
								$("#blurb1").remove();
								$("#graphContainer").append('<canvas id="myChart"></canvas>');
								var shortDateStr = (date.getMonth() + 1).toString() + "/" + date.getDate().toString() + "/" + date.getFullYear().toString();
								$("#graphContainer").append('<div id=\"blurb1\">your usage since ' + shortDateStr + ' by ' + sortType + '</div>');
								canvas = document.getElementById("myChart");
								ctx = canvas.getContext("2d");
								ctx.canvas.width = 300;
								ctx.canvas.height = 300;
								d = JSON.parse(xhr.responseText);
								if(chartType == "doughnut") {
									chart = new Chart(ctx).Doughnut(d,{tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %> minutes"});
								}
								else {
									chart = new Chart(ctx).Bar(d,{tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %> minutes",scaleLabel : function(valuePayload) {return valuePayload.value.toString() + ' minutes';}});
								}
				            }
				            else {
				                console.log("ERROR: status " + xhr.status);
				            }
				        }
					});
					var form = "sortType=" + sortType + "&startTime=" + date.toString() + "&chartType=" + chartType;
					xhr.open('POST','http://localhost:3000/usage/update/left',true);
					xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

					xhr.send(form);
				}

				createChart2 = function() {
					var category = document.getElementById("chooseCategory");
					category = category.options[category.selectedIndex].value;
					var numToView = document.getElementById("numToView");
					numToView = numToView.options[numToView.selectedIndex].value;
					var numDays = document.getElementById("numDays");
					numDays = numDays.options[numDays.selectedIndex].value;

					var xhr = new XMLHttpRequest();

					xhr.addEventListener('readystatechange',function(evt) {
						if (xhr.readyState === 4) {
							if (xhr.status === 200) {
								$("#myChart2").remove();
								$("#blurb2").remove();
								$("#graphContainer2").append('<canvas id="myChart2"></canvas>');
								var numDays = document.getElementById("numDays");
								numDays = numDays.options[numDays.selectedIndex].innerHTML;
								var cat = "";
								if(category != "all") {
									cat = category;
								}
								$("#graphContainer2").append('<div id=\"blurb2\">your top ' + numToView.toString() + ' ' + cat + ' sites in the past ' + numDays);

								canvas2 = document.getElementById("myChart2");
								ctx2 = canvas2.getContext("2d");
								ctx2.canvas.width = 400;
								ctx2.canvas.height = 300;
								d2 = JSON.parse(xhr.responseText);
								console.log(d2);
								chart2 = new Chart(ctx2).Line(d2,{datasetFill : false, multiTooltipTemplate: "<%= datasetLabel %> - <%= value %> minutes",legendTemplate : "<ul class=\"  <%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",showTooltips: false, scaleLabel : function(valuePayload) {return valuePayload.value.toString() + ' minutes';}});
								document.getElementById("legend2").innerHTML = chart2.generateLegend();
							}
						}
					});
					var form = "category=" + category + "&numToView=" + numToView + "&numDays=" + numDays.toString();
					xhr.open('POST','http://localhost:3000/usage/update/right',true);
					xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
					xhr.send(form);
				}
			});


		link(rel='stylesheet', href='/css/usage.css')

    
